@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    width: 100vw;
    overscroll-behavior: none;
    overscroll-behavior-block: none;
    overscroll-behavior-inline: none;
    overscroll-behavior-y: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    width: 100vw;
    color: hsl(var(--foreground));
}
