@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    background-color: hsl(var(--background));
}

#root {
    height: 100vh;
    width: 100vw;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

figure[data-rehype-pretty-code-figure] {
    pre {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
