@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    scrollbar-width: none;
}
