@import "tailwindcss";
@source "../../../webview_utils/src";
@plugin "@tailwindcss/typography";
@import "../../../webview_utils/src/core/styles/themes.scss";
@import "../../../webview_utils/src/core/styles/base.scss";
@import "../../../webview_utils/src/core/styles/shared_component_styles.scss";

@source inline("prose-base prose-lg prose-xl prose-2xl");

@custom-variant dark (&:where(.dark *));

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(var(--background));
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
}

#root {
    height: 100vh;
    width: 100vw;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

figure[data-rehype-pretty-code-figure] {
    pre {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
