@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100vh;
    width: 100vw;
    color: hsl(var(--foreground));
    scrollbar-width: none;
    overscroll-behavior: none !important;
    overscroll-behavior-block: none !important;
    overscroll-behavior-inline: none !important;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
}

#root {
    height: 100vh;
    width: 100vw;
    color: hsl(var(--foreground));
}
