[workspace]
resolver = "3"
members = [
    "packages/rust/fluster_core_utilities",
    "packages/rust/fluster_pre_parser",
    "packages/rust/fluster_rust",
]


[workspace.package]
version = "0.0.1"
authors = ["Andrew Iglinski"]
description = "Be less dum."
documentation = "https://flusterapp.com"
edition = "2024"

[workspace.dependencies]
async-trait = "0.1.81"
thiserror = "2.0.17"
uniffi = { version = "0.29", features = ["tokio"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"

[workspace.lints.rust]
unused_crate_dependencies = "warn"
