@use "./themes.scss";
@use "./mermaid.scss";
@use "./shared_component_styles.scss";


root {
  --desktop-background-match: 213 39% 9%;
}


body {
  --emphasis-info: 221.0 100.0% 65.0%;
  --emphasis-info-foreground: 0 0% 100%;
  --emphasis-error: 0.0 100.0% 50.0%;
  --emphasis-error-foreground: 0 0% 100%;
  --emphasis-warn: 20.0 100.0% 55.0%;
  --emphasis-warn-foreground: 222.2 84% 4.9%;
  --emphasis-success: 142 100% 40%;
  --emphasis-success-foreground: 0 0% 100%;
  --emphasis-important: 270.0 100.0% 55.0%;
  --emphasis-important-foreground: 0 0% 100%;
  --emphasis-research: 185.0 100.0% 40.0%;
  --emphasis-research-foreground: 0 0% 100%;
  --emphasis-highlight: 60 100% 48%;
  --emphasis-highlight-foreground: 222.2 84% 4.9%;
}

body.dark {
  --emphasis-info: 221.0 100.0% 65.0%;
  --emphasis-info-foreground: 0 0% 100%;
  --emphasis-error: 0.0 100.0% 65.0%;
  --emphasis-error-foreground: 0 0% 100%;
  --emphasis-warn: 20.0 100.0% 55.0%;
  --emphasis-warn-foreground: 222.2 84% 4.9%;
  --emphasis-success: 142 100% 50%;
  --emphasis-success-foreground: 222.2 84% 4.9%;
  --emphasis-important: 270.0 100.0% 70.0%;
  --emphasis-important-foreground: 0 0% 100%;
  --emphasis-research: 185.0 100.0% 50.0%;
  --emphasis-research-foreground: 222.2 84% 4.9%;
  background-color: black;
  --background: black;

  &.fluster-mac {
    background-color: hsl(var(--desktop-background-match));
    --background: var(--desktop-background-match);
  }
}


.scroll-target {
  scroll-behavior: smooth;
}

#editor-panel-resize-handle {
  width: 2px;
  background-color: hsl(var(--border));
}

#code-editor-container {
  .cm-editor {
    height: 100%;
    width: 100%;
    max-width: 100%;
    caret-color: hsl(var(--muted-foreground)) !important;
  }

  .cm-content {
    white-space: pre-wrap;
    max-width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}


.inline-mdx {
  p:first-of-type {
    margin-top: 0 !important;
  }

  p:last-of-type {
    margin-bottom: 0 !important;
  }
}


body.fluster-mac {

  .hide-desktop {
    display: none;
  }
}

body.fluster-ipad {

  .hide-ipad {
    display: none;
  }
}


/* Component utils that I'm too lazy to write in tailwind */

.admonitionBody {
  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    margin-top: 0px;
  }
}
