@import "tailwindcss";
@import "../../features/mdx/embeddable_mdx_components/auto_inserted/auto_inserted_code_block/code_block_styles.scss";
@import "./mermaid.scss";
@import "./shared_component_styles.scss";
@import "./themes.scss";
@source "../../**/*.{mdx,tsx,ts}";
@source "../../../../../docs/**/*.{mdx,tsx,ts}";
@source "../../../../webviews/bib_entry_details_webview/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/splitview_mdx_editor/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/standalone_mdx_editor/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/note_detail_webview/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/bibtex_editor_webview/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/dictionary_webview/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/standalone_mdx_preview/src/**/*.{ts,tsx,mdx}";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/container-queries";


root {
  --desktop-background-match: 213 39% 9%;
}


@theme inline {
  --radius: var(--radius);
  --color-brand: hsl(var(--brand));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-general-link-color: hsl(var(--general-link-color));
  --color-emphasis-info: hsl(var(--emphasis-info));
  --color-emphasis-info-foreground: hsl(var(--emphasis-info-foreground));
  --color-emphasis-error: hsl(var(--emphasis-error));
  --color-emphasis-error-foreground: hsl(var(--emphasis-error-foreground));
  --color-emphasis-warn: hsl(var(--emphasis-warn));
  --color-emphasis-warn-foreground: hsl(var(--emphasis-warn-foreground));
  --color-emphasis-success: hsl(var(--emphasis-success));
  --color-emphasis-success-foreground: hsl(var(--emphasis-success-foreground));
  --color-emphasis-important: hsl(var(--emphasis-important));
  --color-emphasis-important-foreground: hsl(var(--emphasis-important-foreground));
  --color-emphasis-research: hsl(var(--emphasis-research));
  --color-emphasis-research-foreground: hsl(var(--emphasis-research-foreground));
  --color-emphasis-highlight: hsl(var(--emphasis-highlight));
  --color-emphasis-highlight-foreground: hsl(var(--emphasis-highlight-foreground));
  --color-fd-background: var(--color-fd-background);
  --color-fd-foreground: var(--color-fd-foreground);
  --color-fd-muted: var(--color-fd-muted);
  --color-fd-muted-foreground: var(--color-fd-muted-foreground);
  --color-fd-popover: var(--color-fd-popover);
  --color-fd-popover-foreground: var(--color-fd-popover-foreground);
  --color-fd-card: var(--color-fd-card);
  --color-fd-card-foreground: var(--color-fd-card-foreground);
  --color-fd-border: var(--color-fd-border);
  --color-fd-primary-foreground: var(--color-fd-primary-foreground);
  --color-fd-secondary: var(--color-fd-secondary);
  --color-fd-secondary-foreground: var(--color-fd-secondary-foreground);
  --color-fd-accent: var(--color-fd-accent);
  --color-fd-accent-foreground: var(--color-fd-accent-foreground);
  --color-fd-ring: var(--color-fd-ring);
  --color-fd-primary: var(--color-fd-primary);
  --color-fd-article: var(--color-fd-article);
}


.scroll-target {
  scroll-behavior: smooth;
}

#editor-panel-resize-handle {
  width: 2px;
  background-color: hsl(var(--border));
}

#code-editor-container {
  .cm-editor {
    height: 100%;
    width: 100%;
    max-width: 100%;
    caret-color: hsl(var(--muted-foreground)) !important;
  }

  .cm-content {
    white-space: pre-wrap;
    max-width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}


.inline-mdx {
  p:first-of-type {
    margin-top: 0 !important;
  }

  p:last-of-type {
    margin-bottom: 0 !important;
  }
}

body {
  scrollbar-width: none;
  color: hsl(var(--foreground));
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  * {
    border-color: hsl(var(--border));

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

body.fluster-mac {

  .hide-desktop {
    display: none;
  }
}

body.fluster-ipad {

  .hide-ipad {
    display: none;
  }
}


/* Component utils that I'm too lazy to write in tailwind */

.admonitionBody {
  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    margin-top: 0px;
  }
}
