@use "./themes.scss";
@use "./mermaid.scss";
@use "./shared_component_styles.scss";


root {
  --background-override: 213 39% 9%;
}

// Temporarly override the background window color to black. Find a better color later for the desktop window.
body.dark {
  background-color: black;
  --background: black;

  &.fluster-mac {
    background-color: hsl(var(--background-override));
    --background: var(--background-override);
  }
}

.scroll-target {
  scroll-behavior: smooth;
}

#editor-panel-resize-handle {
  width: 2px;
  background-color: hsl(var(--border));
}

#code-editor-container {
  .cm-editor {
    height: 100%;
    width: 100%;
    max-width: 100%;
    caret-color: hsl(var(--muted-foreground)) !important;
  }

  .cm-content {
    white-space: pre-wrap;
    max-width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

body.fluster-mac {

  .hide-desktop {
    display: none;
  }
}

body.fluster-ipad {

  .hide-ipad {
    display: none;
  }
}


/* Component utils that I'm too lazy to write in tailwind */

.admonitionBody {
  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    margin-top: 0px;
  }
}
