@import "tailwindcss";
@import "../../features/mdx/embeddable_mdx_components/auto_inserted/auto_inserted_code_block/code_block_styles.scss";
@import "./themes.scss";
@import "./mermaid.scss";
@import "./shared_component_styles.scss";
@import "./fd_themes.scss";
@source "../../**/*.{mdx,tsx,ts}";
@source "../../../../../docs/**/*.{mdx,tsx,ts}";
@source "../../../../webviews/bib_entry_details_webview/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/splitview_mdx_editor/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/standalone_mdx_editor/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/note_detail_webview/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/bibtex_editor_webview/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/dictionary_webview/src/**/*.{ts,tsx,mdx}";
@source "../../../../webviews/standalone_mdx_preview/src/**/*.{ts,tsx,mdx}";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/container-queries";
/* @import 'fumadocs-ui/css/preset.css'; */


root {
  --desktop-background-match: 213 39% 9%;
}


@layer base {
  :root {
    --emphasis-info: 221.0 100.0% 65.0%;
    --emphasis-info-foreground: 0 0% 100%;
    --emphasis-error: 0.0 100.0% 50.0%;
    --emphasis-error-foreground: 0 0% 100%;
    --emphasis-warn: 20.0 100.0% 55.0%;
    --emphasis-warn-foreground: 222.2 84% 4.9%;
    --emphasis-success: 142 100% 40%;
    --emphasis-success-foreground: 0 0% 100%;
    --emphasis-important: 270.0 100.0% 55.0%;
    --emphasis-important-foreground: 0 0% 100%;
    --emphasis-research: 185.0 100.0% 40.0%;
    --emphasis-research-foreground: 0 0% 100%;
    --emphasis-highlight: 60 100% 48%;
    --emphasis-highlight-foreground: 222.2 84% 4.9%;
    --fluster-math-font-size: 1.2rem;
  }

  body.dark {
    --emphasis-info: 221.0 100.0% 65.0%;
    --emphasis-info-foreground: 0 0% 100%;
    --emphasis-error: 0.0 100.0% 65.0%;
    --emphasis-error-foreground: 0 0% 100%;
    --emphasis-warn: 20.0 100.0% 55.0%;
    --emphasis-warn-foreground: 222.2 84% 4.9%;
    --emphasis-success: 142 100% 50%;
    --emphasis-success-foreground: 222.2 84% 4.9%;
    --emphasis-important: 270.0 100.0% 70.0%;
    --emphasis-important-foreground: 0 0% 100%;
    --emphasis-research: 185.0 100.0% 50.0%;
    --emphasis-research-foreground: 222.2 84% 4.9%;
    background-color: black;
    --background: black;

    &.fluster-mac {
      background-color: hsl(var(--desktop-background-match));
      --background: var(--desktop-background-match);
    }
  }
}


@theme {
  --radius: var(--radius);
  --color-brand: hsl(var(--brand));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-primary: hsl(var(--primary));
  --color-primary-rgb: var(--primary-rgb);
  --color-primary-h: var(--primary-h);
  --color-primary-s: var(--primary-s);
  --color-primary-l: var(--primary-l);
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-general-link-color: hsl(var(--general-link-color));
  --color-emphasis-info: hsl(var(--emphasis-info));
  --color-emphasis-info-foreground: hsl(var(--emphasis-info-foreground));
  --color-emphasis-error: hsl(var(--emphasis-error));
  --color-emphasis-error-foreground: hsl(var(--emphasis-error-foreground));
  --color-emphasis-warn: hsl(var(--emphasis-warn));
  --color-emphasis-warn-foreground: hsl(var(--emphasis-warn-foreground));
  --color-emphasis-success: hsl(var(--emphasis-success));
  --color-emphasis-success-foreground: hsl(var(--emphasis-success-foreground));
  --color-emphasis-important: hsl(var(--emphasis-important));
  --color-emphasis-important-foreground: hsl(var(--emphasis-important-foreground));
  --color-emphasis-research: hsl(var(--emphasis-research));
  --color-emphasis-research-foreground: hsl(var(--emphasis-research-foreground));
  --color-fd-background: hsl(0, 0%, 96%);
  --color-fd-foreground: hsl(0, 0%, 3.9%);
  --color-fd-muted: hsl(0, 0%, 96.1%);
  --color-fd-muted-foreground: hsl(0, 0%, 45.1%);
  --color-fd-popover: hsl(0, 0%, 98%);
  --color-fd-popover-foreground: hsl(0, 0%, 15.1%);
  --color-fd-card: hsl(0, 0%, 94.7%);
  --color-fd-card-foreground: hsl(0, 0%, 3.9%);
  --color-fd-border: hsla(0, 0%, 80%, 50%);
  --color-fd-primary: hsl(0, 0%, 9%);
  --color-fd-primary-foreground: hsl(0, 0%, 98%);
  --color-fd-secondary: hsl(0, 0%, 93.1%);
  --color-fd-secondary-foreground: hsl(0, 0%, 9%);
  --color-fd-accent: hsla(0, 0%, 82%, 50%);
  --color-fd-accent-foreground: hsl(0, 0%, 9%);
  --color-fd-ring: hsl(0, 0%, 63.9%);
  --color-fd-primary: oklch(0.487 0.083 262.691);
  --color-fd-article: hsl(0, 0%, 97%);
}


.scroll-target {
  scroll-behavior: smooth;
}

#editor-panel-resize-handle {
  width: 2px;
  background-color: hsl(var(--border));
}

#code-editor-container {
  .cm-editor {
    height: 100%;
    width: 100%;
    max-width: 100%;
    caret-color: hsl(var(--muted-foreground)) !important;
  }

  .cm-content {
    white-space: pre-wrap;
    max-width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}


.inline-mdx {
  p:first-of-type {
    margin-top: 0 !important;
  }

  p:last-of-type {
    margin-bottom: 0 !important;
  }
}

body {
  scrollbar-width: none;
  color: hsl(var(--foreground));
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  * {
    border-color: hsl(var(--border));

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

body.fluster-mac {

  .hide-desktop {
    display: none;
  }
}

body.fluster-ipad {

  .hide-ipad {
    display: none;
  }
}


/* Component utils that I'm too lazy to write in tailwind */

.admonitionBody {
  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    margin-top: 0px;
  }
}
