@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(var(--background));
    scrollbar-width: none;
    color: hsl(var(--foreground));
    overscroll-behavior-block: none;
    overscroll-behavior-y: none;
}

::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
}

#root {
    height: 100vh;
    width: 100vw;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

.loading-hide {
    display: block;
}

.loading-show {
    display: none;
}

body.loading {
    .loading-hide {
        display: none;
    }

    .loading-show {
        display: flex;
    }
}
