@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  width: 100vw;
  scrollbar-width: none;
  color: hsl(var(--foreground));
  overscroll-behavior-block: none;
  overscroll-behavior-y: none;

  & * {
    border-color: hsl(var(--border));
  }
}

::-webkit-scrollbar {
  display: none;
  /* Hides the scrollbar */
}

#root {
  height: 100vh;
  width: 100vw;
  color: hsl(var(--foreground));
}

.loading-hide {
  display: block;
}

.loading-show {
  display: none;
}

body.loading {
  .loading-hide {
    display: none;
  }

  .loading-show {
    display: flex;
  }
}
