figure[data-rehype-pretty-code-figure] {
  background-color: var(--color-fd-card);
  color: var(--color-fd-card-foreground);
  @apply rounded border;

  figcaption {
    padding: 0 0.5rem;
    color: var(--color-fd-card-foreground) / 0.8;
  }

  pre {
    padding: 0.5rem;
  }

  code {
    @apply rounded;
  }
}
