@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overscroll-behavior: none !important;
    overscroll-behavior-block: none !important;
    overscroll-behavior-inline: none !important;
    overflow: hidden;
}

#root {
    height: 100vh;
    width: 100vw;
    color: hsl(var(--foreground));
}
