@media (width <=768px) {
  :root {
    --fd-nav-height: 34px;
  }
}

button[data-theme-toggle] {
  display: none !important;
}

table {

  td,
  th {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

mjx-container {
  max-width: 100%;
  min-width: 0px !important;
  overflow-x: auto;
  overflow-y: hidden !important;

  mjx-mtable {
    min-width: 0px;
  }
}

.rounded-tr {
  border-top-right-radius: var(--radius);
}

.rounded-tl {
  border-top-left-radius: var(--radius);
}

.rounded-br {
  border-bottom-right-radius: var(--radius);
}

.rounded-bl {
  border-bottom-left-radius: var(--radius);
}
