@use "tailwindcss";
@source "../../../node_modules/fumadocs-ui/dist/**/*.{js,ts,tsx,jsx,mdx}";
@source "../../../../../node_modules/fumadocs-ui/dist/**/*.{js,ts,tsx,jsx,mdx}";
@source "../../../../../docs/website/**/*.{mdx,tsx,jsx,ts,js}";
@source "../../../content/**/*.mdx";
@source "../../../src/**/*.{js,ts,jsx,tsx,mdx}";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/container-queries";
@plugin "tailwindcss-animate";
@import "fumadocs-ui/css/ocean.css";
@import "fumadocs-ui/css/preset.css";

@layer base {
  :root {
    --radius: 0.5rem;
    --brand: 198.6 88.7% 48.4%;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: hsl(222.2 84% 4.9%);
    --primary: 217.2 91.2% 59.8%;
    --primary-rgb: #0ba5e9;
    --primary-h: 198.6;
    --primary-s: 88.7%;
    --primary-l: 48.4%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --general-link-color: #1e90ff;
    // Fluster specfic color variables. This is not the whole set, but just what's required for the website.
    --fluster-hint: 120 100% 50%;
  }
}

@theme {
  --radius: hsl(var(--radius));
  --color-brand: hsl(var(--brand));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-primary: hsl(var(--primary));
  --color-primary-rgb: hsl(var(--primary-rgb));
  --color-primary-h: hsl(var(--primary-h));
  --color-primary-s: hsl(var(--primary-s));
  --color-primary-l: hsl(var(--primary-l));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-general-link-color: hsl(var(--general-link-color));
  --color-hint: hsl(var(--fluster-hint));
  --color-fluster-hint: hsl(var(--fluster-hint));
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;

  * {
    border-color: hsl(var(--border));
  }
}
